<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=yes">
    <meta name="description" content="<%= page[:site_description] %>">
    <title><%= page[:site_name] %> | <%= page[:title] %></title>
    <link rel="home" href="<%= page[:site_URL] %>/rss.xml" type="application/rss+xml" title="<%= page[:site_name] %>">
    <link rel="stylesheet" href="/screen.css">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  </head>
  <body>
    <div id="skiptocontent">
      <a href="#maincontent">Skip to main content</a>
    </div>
    <header>
      <div class="logo"></div>
      <h1><a href="<%= page[:site_URL] %>"><%= page[:site_name] %></a></h1>
      <nav>
        <ul>
          <li><a href="<%= page[:site_URL] %>">Home</a></li>
          <li><a href="/articles.html">Articles</a></li>
          <li><a href="/about.html">About</a></li>
        </ul><a href="https://twitter.com/<%= page[:twitter_name] %>" class="button twitter">Argue with me on Twitter</a><a href="<%= page[:site_URL] %>/rss.xml" rel="home" type="application/rss+xml" class="button rss">RSS Feed</a>
      </nav>
    </header>
    <a name="maincontent"></a>
