<%= header_partial %>
<main>
  <section>
    <% for @post in data %>
      <h2><a href="<%= @post[:uri] %>"><%= @post[:page][:title] %></a></h2>
      <p class="date"><%= @post[:page][:date_us] %></p>
      <%= @post[:html] %>
      <div class="tags">Tags:
        <ul>
          <% for @tag in @post[:page][:tags] %>
            <li><a href="<%= page[:site_URL] %>/tags/<%= @tag[:tag_slug] %>.html"><%= @tag[:name] %></a></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h2>Previously</h2>
    <p><a href="<%= page[:site_URL] %>/articles.html">Earlier posts...</a></p>
  </section>
</main>
<%= footer_partial %>
